

.aboutSection_textMainContainer{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50vh;
   margin-top: 120px;
   background-color: #00629B;
   color: white;
   padding-bottom: 50px;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}



.aboutSection_textContainer h3{
    font-family: "Inika", serif;
    text-align:center;
    font-style: normal;
    color:#F8AF41;
    font-weight:700;
    font-size: 26px;
    line-height: 46.91px;

    
}

.aboutSection_textContainer p{
    font-family: "Inika", serif;
    text-align:center;
    font-style: normal;
    color: black;
    font-weight:700;
    font-size: 22px;
    line-height: 41.7px;
   

}

.visionMission_mainContainer{
    display: flex;
    flex-direction: row
}

.vision_mainContainer,
.mission_mainContainer{
    display: flex;
    flex: 1;
    padding: 20px;
}



.vision_container,
 .mission_container{
    background-color:rgba(0, 98, 155, 0.40);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    min-height: 60vh;
    padding: 30px;
}

.vision_container h1,
.mission_container h1{
  font-family: "Magra", sans-serif;
  font-size: 35px;
  line-height: 40px;
  padding-top: 10px;   
}


.paragraph-01_mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
}
.paragraph-01{
    width: 100%;
    
}
.paragraph-01 p{
    font-family: "Inika", serif;
    text-align:center;
    font-style: normal;
    color: black;
    font-weight:600;
    font-size: 22px;
    line-height: 22.27px;

}

.reasonWhy_mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.reasonWhy_mainContainer h1{
    font-family: "Inika", serif;
    text-align:center;
    font-style: normal;
    color: #00629B;
    font-weight:650;
    font-size: 42px;
    line-height: 73.39px;
}


.arrowsWithButton_container{
    display: flex;
    width: 100%;
}

.arrows_container{
    display: flex;
    flex-direction: row;  
    padding-bottom: 50px;
}

.image1{
    content: url('../../../assests/images/reviews_12352531\ 1.png');
}
.image2{
    content: url('../../../assests/images/organization_12188656\ 1.png');
}
.image3{
    content: url('../../../assests/images/teamwork_1190533\ 1.png');
}
.image4{
    content: url('../../../assests/images/id-card_12001135\ 1.png');
}

.arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;    
    margin: 20px,20px,20px,20px;
    align-items: center;
    padding: 20px;

   
  }

.arrow-right h3{
    color: black;
    font-family: "Inika", serif;
    text-align:center;
    font-style: normal;
    font-weight:300;
    font-size: 24px;
    line-height: 25.7px;
    padding: 50px;


}
@media (max-width:980px) {
    .aboutSection_textContainer {
        margin-top: 10%;
    }

}
@media (max-width: 830px) {
    .aboutSection_textContainer {
        margin-top: 10%;
    }


    .aboutSection_textContainer h1{
        font-weight:600;
        font-size: 76px;
        line-height: 106.18px;
    }
    
    .aboutSection_textContainer h3{
        font-weight:650;
        font-size: 22px;
        line-height: 42.91px;
    
        
    }
    
    .aboutSection_textContainer p{
        font-weight:650;
        font-size: 18px;
        line-height: 38.7px;
       
    
    }

    .arrows_container{
        flex-direction: column;  
    }
    
    
    

 }

@media (max-width: 700px) {

   .arrow-right h3{
    font-weight:200;
    font-size: 20px;
    line-height: 20.7px;
    } 
    .vision_mainContainer,.mission_mainContainer{
    flex-direction: column;
    }
    

}



 @media (max-width: 516px) {

    .arrow-right h3{
     font-weight:170;
     font-size: 17px;
     line-height: 15.7px;
 
 } 
 .joinusButton_container button{
    width: 110px;
    height: 50px;
    margin-bottom: 20px;
 }

 .arrowsWithButton_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
 
}

.arrows_container{
    width: 100%;
}

.joinusButton_container{
    width: 100%;
}

.paragraph-01 p{
    font-weight:600;
    font-size: 18px;
    line-height: 18.27px;

}
.aboutSection_textContainer {
    padding: 20px 20px 50px 20px; 
}

 }

 

 @media (max-width: 440px) {

    .aboutSection_textContainer {
        margin-top: 15%;
    }
    .aboutSection_textContainer h1{
        font-weight:600;
        font-size: 50px;
        line-height: 86.18px;
    }
    
    .aboutSection_textContainer h3{
        font-weight:620;
        font-size: 20px;
        line-height: 38.91px;
    
        
    }
    
    .aboutSection_textContainer p{
        font-weight:620;
        font-size: 16px;
        line-height: 34.7px;
       
    
    }

    .visionMission_mainContainer{
    flex-direction: column;
}
    

 }