.committee{
    margin-top: 140px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
.committee__container{
    margin-top: 30px;
}
.committee h1{
    padding: 0 3% 0 3%;
    font-family: Inika;
    font-size: 40px;
    font-weight: 700;
    line-height: 52.12px;
    color: black;

}
.committee .members__title{
  font-size: 34px;
  font-weight: 700;
  line-height: 44.3px;
  text-align: center;
  color: rgba(33, 106, 216, 1);
  font-family: Inika;
}

/*images card*/
.committee  .image_card {
    padding: 0.5rem;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
    width: 400px;
    height: 400px;
  }
  
  .committee  .image_card:hover {
    border-radius: 20px;
    height: 350px;
  }
  
  .committee .image_card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
  }
  
  .committee .image_card-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    visibility: hidden;
    transition: visibility 0.4s, font-size 0.4s, line-height 0.4s;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight:700;
  }
  
  .committee .image_card:hover .image_card-info {
    visibility: visible;
    color: var(--text-color);
  }
  
  .committee .image_card:hover img {
    border-radius: 20px;
    margin-bottom: 230px;
  }
  
  .committee .image_card-info p {
    margin: 5px 0;
  }
  /**/



  .committee .members__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    margin-top: 30px;
  }
  .committee .event_members{
    margin-top: 40px;
    margin-bottom: 40px;
  }


  @media (max-width: 430px){
    .committee .image_card {
        width: 300px;
        height: 300px;
      }
      
      .committee .image_card img {
        width: 250px;
        height: 250px;

      }
      .committee .image_card-info p {
        margin: 5px 0;
      }
  }