.newsContainer{
    background-image: url('../../../../assests/images/unsplash_gEGTKyG4gB0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
    display: flex;
    min-height: 50vh;
    margin-top: 120px;
    width: 100%;
    opacity: 100%;
    position: relative;
}
.newsContainer h1{
    z-index: 100;
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    justify-content: center;
}
.volunteerCallContainer{
    min-height: 40vh;
    width: 95%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color:#104492;
    top: 40%;
    right: 2.5%;   
}
.newsContainer2{
    min-height: 20vh;
}
.applyNowButton_container_news button{
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background-color:#F8AF41;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    margin-top: 15%;
    margin-left: 8%;
}

@media (max-width:600px) {
    .newsContainer h1{
       font-size: 25px;
       margin-left: 30%;

    }

    
}