.heroSection_mainContainer{
    height: 70vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../../../assests/images/unsplash_EUsVwEOsblE.png);
    background-position: "center";
    background-repeat: "no-repeat";     
    position: relative;
    background-size: cover; 
}


.text_container{
   background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.text_container h1{
    color: #FFFFFF;
    font-size: 36px;
    line-height: 43.16px;
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 0.5px black;
    /*text-stroke: 0.5px black;*/
    width: 50%;

}

.aboutUs_container{
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 100%;
    align-items: stretch;
}
.aboutUs_text{
    display: flex;
    background-color:#031D3D;
    color: white;
    flex: 0.2;
    text-align: center;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    font-size: 35px;
    font-family: "Magra", sans-serif;
    font-weight: 600;
    font-style: normal;
    -webkit-text-stroke: 0.5px black;
    text-stroke: 0.5px black;
}
.aboutUs_description{
    flex: 0.8;
    justify-content: center;
    text-align: center;
}
.aboutUs_description h1{
    color:#F98600;
    text-align: center;
    -webkit-text-stroke: 0.2px black;
    text-stroke: 0.2px black;
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}
.aboutUs_description p{
    color: black;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: 'Inika', serif;
    font-style: normal;
    font-size: 22px;
    margin-top: 10px;
    font-size: 38px;
    padding-right: 50px;
    padding-left: 50px;
    
}
.readMore_button{
    background-color:#F8AF41;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
}
.previous_event_container {
    text-align: center;
    padding: 20px; 
  }
  .previous_event_container h1 {
    font-family: 'Inika', serif;
    margin-top: 10px;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;

  }
  .events_slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .events {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .event {
    min-width: calc(100% / 3 - 40px);
    margin: 20px;
    background-color: #0B3D78;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .dots_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  
  
.contact_us_container{
    text-align: center;
    color: white;
    background-color: black;
    font-family: "Magra", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
}




@media screen and (max-width:755px){
    .events_slider{
        overflow: auto;
    }
    .dot{
        display: none;
    }
    .event{
        width: 100%;
        padding:100px
    }
    .text_container h1{
        font-size: 20px;
        line-height: 26px;  
    }
    .aboutUs_description h1{
      
        font-size: 20px;
    }
    .previous_event_container h1 {
        font-size: 30px;
      }
    .contact_us_container{
        font-size: small;
    }
    
}
@media screen and (max-width:930px){
    .aboutUs_text{
        font-size: xx-small;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        width: 10%;
    }
    .aboutUs_description{
        font-size: xx-small;
    }
    .aboutUs_description p{
        font-size: xx-small; 
    }
    .readMore_button{
        background-color:#F8AF41;
        border-radius: 50px;
        padding: 10px 20px;
        width: 80px;
        font-size: xx-small;
    }
    
}