.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: Inika;
}

.footer .footer__container {
    width: 100%;
    min-height: 464px;
    padding: 3% 5%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row; 
    background-color: #062451;
    gap: 50px;

}

.footer__container01,
.footer__container02,
.footer__container03 {
    width: 32%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.footer_sub {
    color: #E7A525;
    text-align: start;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__input {
    width: 300px;
    height: 29px;
    border-radius: 10px;
    background: #FFF;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.46);
    text-align: start;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__policy {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__policy_lable {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 2px;
    border: none;
}

.footer__policy h3 {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__button {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background-color: #F39238;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__title {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__social {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.footer__social Link {
    cursor: pointer;
}

.icon-link {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 5px;
}

.email__icon, .address__icon {
    color: #FFF;
    width: 33px;
    height: 30px;
}

.email h3, .address__text {
    color: #FFF;
    text-align: start;
    font-family: Inika;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer__container02 .email {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-direction: row;
}

.address {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    flex-direction: row;
}

.address__text {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.footer__bottom {
    padding: 1% 5%;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}

.footer__bottom span {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__container03 iframe {
    width: 100%;
    height: 300px;
    border: none;
}


@media (max-width: 1100px) {
    .footer__container {
        flex-direction: row; 
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; 
    }
    
    .footer__container01,
    .footer__container02 {
        width: calc(50% - 25px); 
    }
    
    .footer__container03 {
        width: 100%; 
    }
}
@media (max-width: 600px){
    .footer__container{
        flex-direction: column;
    }
    
    .footer__container01,.footer__container02, .footer__container03 {
        width: 100%; 
    }
}