.eventSection {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.eventContainer {
    display: flex;
    background-color: #02193C;
    width: 100%;
    min-height: 50vh;
}

.applyNowButton_container button{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    background-color:#F8AF41;
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid black;
    margin-top: 35vh;
    margin-left: 15vh;
}

.upcomingEventsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.upcomingEventsContainer h1 {
    text-align: left;
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 700;
}

.eventDetailsContainer {
    display: flex; 
    flex-direction: row;
    width: 100%;
    min-height: 40vh;
    padding: 50px;

}

.dateContainer {
    display: flex;
    flex: 1; 
    flex-direction: column;
    margin-right: 5%;
    align-items: center;
    justify-content: center;  
}

.eventNameContainer {
    flex: 9; 
    background-color: rgb(135, 180, 225);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 10px;
}

.previousEventsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
    padding-left: 50px;
    padding-right: 50px;
}
.previousEventsContainer h1{
    text-align: left;
    font-family: "Inika", serif;
    font-style: normal;
    font-weight: 700;
}
.datePart{
    font-family: "Inika", serif;
    text-align:center;
    font-weight: 700;
}

.previousEventsDetailsContainer{
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
}
  
.events {
    display: flex;
    flex-direction: row;
    transition: transform 1s ease-in-out;
}
  
.event {
    min-width: calc(100% / 2 - 20px);
    margin: 10px;
    background-color: #0B3D78;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 200px;
    padding-bottom: 250px;
}
  
  .dots_container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }




@media (max-width:750px) {
    .upcomingEventsContainer {
        font-size: 20px;
    }
    .upcomingEventsContainer h1 {
        font-size: 25px;
    }
    .eventDetailsContainer {
        flex-direction: column;
        min-height: 50vh;
        padding: 10px;
    }
    .previousEventsContainer h1 {
        font-size: 25px;
    }
     
    .events {
        overflow: auto;
    }
    .event{
        padding-top: 100px;
        padding-bottom: 100px;
        min-width: 100%;
        font-size: smaller;
    }
    .dots_container{
        display: none;
    }

}